/* ------------------------------------------- */
/* STORY BLOCK | BLOCK TEXT IN STORIES SECTION
/* ------------------------------------------- */

.story {
   width: 75%;
   margin: 0 auto;
   box-shadow: 0 3rem 6rem rgba($color-black, .1);
   background-color: rgba($color-white, .6);
   border-radius: 3px;
   padding: 6rem;
   padding-left: 9rem;
   font-size: $default-font-size;
   transform: skewX(-12deg);

   // SHAPE IS THE CONTAINER WHERE THE IMAGE AND TEXT ON HOVER SHOWS \\
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg); // USE INSTEAD OF MARGIN AND PADDING \\

         // IMPLEMENTING CLIP PATH PROPERTY TO WORK ON OLDER VERSION OF MOZILLA FIREFOX \\
        @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-shape-outside: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
    }

    // IMAGE IN THE SHAPE \\
    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    // TEXT IS THE h3 ELEMENT AND PARAGRAPH \\
    &__text {
        transform: skewX(12deg);
    }

    // CAPTION IS THE NAME OF THE USER ON THE PICTURE \\
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    // SHOWS THE NAME OF THE USER WHEN STORY BLOCK IS HOVERED \\
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    // ZOOMS IN THE IMAGE AND BLURS IS IT WHEN STORY BLOKC IS HOVERED \\
    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }


    // * --- MEDIA QUERIES --- * \\
    //                           \\
    // * --- ------------- --- * \\

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);

         // SHAPE IS THE CONTAINER WHERE THE IMAGE AND TEXT ON HOVER SHOWS \\
        &__shape {
            transform: translateX(-3rem) skewX(0); // USE INSTEAD OF MARGIN AND PADDING \\
        }

        // TEXT IS THE h3 ELEMENT AND PARAGRAPH \\
        &__text {
            transform: skewX(0);
        }
    }
}